<section>
    <div class="container mt-5 mb-5">
        <div class='float-left mr-3'><%= image_tag 'profile.jpeg' %></div>

        <h1> It's Mr. Spidey </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            accumsan tempor elit nec convallis. Proin ac leo porta, venenatis
            velit non, suscipit odio. Morbi sit amet ligula elementum, convallis
            eros at, porta arcu. Maecenas eu interdum metus. Cras eu pharetra
            lectus, vel lacinia ex. Aenean euismod justo id ante laoreet
            consectetur vitae sit amet tortor. Cras magna urna, luctus non ante
            id, malesuada dapibus lacus. Donec maximus fringilla mi, non interdum
            ante cursus ac. Sed urna felis, scelerisque eu eros sit amet,
            consequat dignissim sem. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Maecenas vestibulum venenatis justo nec pulvinar.
            Ut aliquet mollis ante. Etiam consectetur, ipsum vitae lobortis
            pellentesque, est dolor semper magna, non vehicula tortor augue et
            nisi. Vivamus id euismod purus.
        </p>

        <p>
            Praesent dapibus leo leo, nec gravida enim maximus at. Phasellus
            volutpat luctus ante, ac accumsan dolor accumsan ut. Vivamus imperdiet
            elit id dui efficitur, id faucibus mi aliquam. Nunc id dapibus velit,
            quis scelerisque nisi. Aenean faucibus commodo volutpat. Etiam
            eleifend ultricies risus sed imperdiet. Sed ornare velit molestie
            blandit porta. Donec mattis nulla id mi imperdiet placerat.
            Pellentesque eget consectetur dui. In placerat hendrerit justo, at
            scelerisque nulla sodales eu. Donec aliquet commodo finibus. Ut non
            porta ipsum. Vestibulum risus lectus, posuere a mollis vitae,
            tincidunt ut arcu. Aenean finibus molestie urna, quis vulputate tellus
            euismod ut. Nullam id ipsum mauris.
        </p>

        <p>
            Praesent dapibus leo leo, nec gravida enim maximus at. Phasellus
            volutpat luctus ante, ac accumsan dolor accumsan ut. Vivamus imperdiet
            elit id dui efficitur, id faucibus mi aliquam. Nunc id dapibus velit,
            quis scelerisque nisi. Aenean faucibus commodo volutpat. Etiam
            eleifend ultricies risus sed imperdiet. Sed ornare velit molestie
            blandit porta. Donec mattis nulla id mi imperdiet placerat.
            Pellentesque eget consectetur dui. In placerat hendrerit justo, at
            scelerisque nulla sodales eu. Donec aliquet commodo finibus. Ut non
            porta ipsum. Vestibulum risus lectus, posuere a mollis vitae,
            tincidunt ut arcu. Aenean finibus molestie urna, quis vulputate tellus
            euismod ut. Nullam id ipsum mauris.
        </p>

    </div>
</section>