<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-sm-6 col-sm-4 col-sm-offset-3">  
      
      <h1 style="text-align: center">Postea algo</h1>

      <%= render 'form' %>

    </div>
  </div>
</div>